<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobileappdocs.firstmobile" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".GolfcourseListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GolfcourseDetailActivity"
            android:label="@string/title_golfcourse_detail"
            android:parentActivityName=".GolfcourseListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".GolfcourseListActivity" />
        </activity>
    </application>

</manifest>
